@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: "white";
  margin: 8px 8%;
  padding: 2px;
}

nav {
  background-color: #205;
  padding: 1px;
}

nav img {
  border: 1px solid white;
  width: 20px;
}

.header-container {
  display: flex;
  color: white;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}
main {
  background-color: #f6f7ee;
}
