.news-item {
  padding: 10px;
}

button.upvote {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid black;
}
td {
  padding: 0px 3px;
  vertical-align: center;
}
